<div class="container mt-3">
  <%= tag.h2 "投稿編集" %>
    <%= form_for(@post, url: post_update_path(@post.id)) do |f| %>
      <%= f.label :title, "タイトル", class:"mtー２"%>
      <%= f.text_field :title, class:"form-control" %>
      <%= f.label :content, "投稿内容", class:"mt-2" %>
      <%= f.text_area :content, class:"form-control" %>
      <%= tag.div f.label :post_image, "投稿画像", class:"mt-2"  %>
      <%= f.file_field :post_image %>
      <%= tag.div f.submit "更新", class:"btn btn-primary mt-3" %>
    <% end %>
</div>