<div class="container">
  <%= tag.h2 "投稿一覧", class:"mt-4" %>
    <table class="table">
      <thead>
        <%= tag.tr %>
          <%= tag.th "タイトル" %>
          <%= tag.th "投稿内容" %>
          <%= tag.th "投稿写真" %>
      </thead>
      <tbody>
        <% @post.each do |post| %>
          <% if post.del_flag != 1 %>
            <%= tag.tr %>
              <%= tag.td link_to(post.title, post_show_path(post.id)) %>
              <%= tag.td post.content %>
              <%= tag.td image_tag post.post_image.url, class:"profile-img", style:"width:50px; border-redius:30%;" %>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>
