<div class="container mt-4">
  <%= tag.h2 "#{@post.user.name}の投稿" %>
    <div class="row mt-4">
      <div class="col">
        <%= image_tag @post.post_image.url, style:"width:250px;"%>
      </div>
      <div class="col">
        <%= tag.h4 @post.title %>
        <%= tag.div @post.content %>
        <div class="mt-4">
          <%= link_to("編集", post_edit_path(@post.id), class:"btn btn-primary") %>
          <%= link_to("削除", post_destroy_path(@post.id), class:"btn btn-primary") %>
        </div>
      </div>
    </div>
    <div>
      <%= render 'comments/new' %>
    </div>
    <div class="comments mb-4">
      <%= "コメント一覧" %>
      
        <% @comments.each do |comment| %>
          <% if comment %>
            <div class="card mt-2">
              <div class="d-flex justify-content-left">
                <%= image_tag comment.user.icon_image.url, class: "mx-3", style: "width:80px; border-radius:40%;" %>
                <div class="mt-1">
                  <%= tag.div "#{comment.user.name} のコメント" %>
                  <%= tag.div comment.comment_text %>
                </div>
              </div>
            </div>
        <% end %>
      <% end %>
    <div>
</div>